<div class="index-page">
  <h2>BANDS</h2>
  <section class='index-page-list'>
    <%= render @bands.order(:name) %>
  </section>
  <a id="new-band-button" class='nav-buttons' href="<%= new_band_url %>">ENTER NEW BAND</a>
</div>
